/* Global */

* {
    box-sizing: border-box;
}

*:focus {
    outline: 3px dotted #7296ec;
    outline-offset: 3px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 2px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* Main */

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inner-conatiner {
    flex-grow: 1;
    display: flex;
}    

.hero {
    flex-grow: 1;
    padding-top: 250px;
    width: 600px;
    background-image: url("../images/article\ 1.png");
    background-size: cover;
    background-position: bottom;
}

.hero-content {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 24px;
}

.main-button {
    display: block;
    padding: 12px 24px;
    background-color: #1E90FF;
    color: #fff; 
    border: transparent;
    cursor: pointer;
}

.main-button:hover {
    opacity: 0.8;
}

.main-button:active {
    opacity: 0.6;
}

.inner-content {
    display: flex;
    align-items:center;
    line-height: 24px;
}

.main-button-text {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2px;
}

.main-button-text:before {
    display: inline-block;
    content: '';
    background-image: url(../images/vector.svg);
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-position: center;
}   

.hero-icon {
    padding-right: 12px;
}

.button-warning:hover {
    opacity: 0.8;
}

.button-warning:active {
    opacity: 0.6;
}

.news {
    padding: 54px;
    width: 600px;
}

.h1 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
}

.rectangle {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero-list {
    display: flex;
}

.hero-img {
    display: flex;
    margin-bottom: 10px;
    margin-right: 16px;
}

.hero-immg {
    display: flex;
    margin-bottom: 23px ;
    margin-right: 16px;
}

.h2 {
    width: 307px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
}

.h2:hover {
    color: #1E90FF;
}

.h2:active:active {
    opacity: 0.6;
}

.heroo-item {
    display: flex;
}

.hero-div {
    display: flex;
}

.main-img {
    margin-top: 1px;
}

.main-icons {
    margin-top: 2px;
}

.hero-text {
    margin: 0;
    margin-left: 1px;
    margin-right: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
}

.hero-text:before {
    display: inline-block;
    content: '';
    background-image: url(../images/icon.svg);
    width: 13px;
    height: 13px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}   

.heroo-text {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
}

.heroo-text:before {
    display: inline-block;
    content: '';
    background-image: url(../images/icon\ 2.svg); 
    width: 15px;
    height: 10px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}   

.mainn-button {
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
}

.buttonn-warning {
    display: block;
    background-color: #1E90FF;
    padding: 12px;
    border-radius: 4px;
}

.buttonn-warning:hover {
    opacity: 0.8;
}

.buttonn-warning:active {
    opacity: 0.6;
}

/* Beckground retina image */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 